{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1 id="heading">{{question["name"]}}</h1>
<h2 id="h2"></h2>
{% for ans in question["answers"] %}
<button onclick='check("{{ans}}")' class="btn btn-primary">{{ans}}</button><br>
{% endfor %}
<button onclick='location.reload()' class="btn button-default">Another question</button>
<script>
function check(x){
  if(x == "{{question['answer']}}"){
    document.getElementById("h2").innerHTML="Correct! You're as smart as a chunky monkey!";
  }
  else{
    document.getElementById("h2").innerHTML="Wrong... You stink like a fat rat.";
  }
}
</script>
{% endblock %}